<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weekly news</title>
</head>
<body>
<hr>
<h3>Hot News</h3>
<br>
{% for new in news %}
    {{ new.title }}
    <br>
    {{ new.body }}
    <br>
    {{ new.author }}
    <br>
    <hr>
    <br>
{% endfor %}

<br>
</body>
</html>