[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
Pillow = "*"
amqp = "*"
requests = "*"
setuptools = "*"
SQLAlchemy = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.7"
